<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="http://image.tmdb.org/t/p/w185{{posterImg}}" alt="">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{title}}</h4>
    <p>{{overview}}</p>
    <p>Genres: {{genres}}</p>
    <p>Release Date: {{releaseDate}}</p>
    <p>Runtime: {{runtime}} mins</p>
  </div>
</div>
<div>
  <h4>Cast</h4>
  <table class="table table-stripped table-condensed">
    <tbody>
      <tr ng-repeat="actor in credits.cast">
        <td>
          <a class="pull-left" href="#">
            <img class="media-object" src="http://image.tmdb.org/t/p/w45{{actor.profile_path}}" alt="">
          </a>
        </td>
        <td>{{actor.name}}</td>
        <td>{{actor.character}}</td>
      </tr>
    </tbody>
  </table>
</div>
